html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.alp-track {
  overflow-x: hidden;
  display: flex;
  cursor: grab;
  scroll-behavior: smooth;
}

.alp-slide {
  flex-shrink: 0;
  width: 100%;
  height: 150px;
}