html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.container:after {
  content: "";
  clear: both;
  display: block;
}

.alp-slider {
  overflow: hidden;
}

.alp-slider,
.alp-slide {
  width: 100%;
}

.alp-track {
  display: flex;
}

.alp-slide {
  display: block;
  flex-shrink: 0;
  height: 150px;
  transition: margin-left .3s ease;
}

.alp-slide:nth-child(1) {
  width: 300px;
}

.alp-slide:nth-child(2) {
  width: 600px;
}