.nw{

  &_wrapper{
    display: flex;
    width: 100%;
    overflow: hidden;
  }

  &_track{
    display: flex;
    width: 100%;
    flex-shrink: 0;
    transition: margin-left 0.3s ease;
    margin-left: var(--nw-left, 0);
    width: calc(1440 * 4);
  }

  &_slide{
    position: relative;
    width: 100%;
    flex-shrink: 0;
    height: 200px;
  }
}