.alp{

  &-slider{
    overflow: hidden;
  }

  &-slider,
  &-slide{
    width: 100%;
  }

  &-track{
    display: flex;
    position: relative;
    transition: left 0.3s ease;
    left: 0;
  }

  &-slide{
    display: block;
    flex-shrink: 0;
    height: 150px;
    transition: margin-left 0.3s ease;

    &:nth-child(1){
      width: 300px;
    }

    &:nth-child(2){
      width: 600px;
    }
  }
}